@{
    ViewBag.Title = "User";
}
<div class="row">
    <div class="col-md-7">
        <div id="avatar-wrapper">
            <img id="userInfoAvatar" src="~/Images/default_avatar_male.jpg" class="avatar img-fluid" alt="Avatar" data-toggle="modal" data-target="#avatarModal" />
            <div id="account_info">
                <ul>
                    <li>Username: <span id="userInfoUsername"></span></li>
                    <li>UserId: <span id="userInfoId"></span></li>
                    <li>Loại tài khoản: <span id="userType"></span></li>
                    <li>Rating: <input id="userRating" type="hidden" class="starRating kv-ltr-theme-fas-star rating-loading" value="" disabled data-size="xs"/></li>
                </ul>
            </div>
        </div>
        <div id="history-wrapper">
            <ul class="nav nav-tabs" id="historyTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="selling-tab" data-toggle="tab" href="#selling" role="tab" aria-controls="selling" aria-selected="true">Sản phẩm đang bán</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="sole-tab" data-toggle="tab" href="#sole" role="tab" aria-controls="sole" aria-selected="false">Sản phẩm đã bán</a>
                </li>
            </ul>
            <div class="tab-content" id="historyTabContent">
                <!--Selling History Table-->
                <div class="tab-pane fade show active table-responsive" id="selling" role="tabpanel" aria-labelledby="selling-tab">
                    <div id="loadingInnerTable" class="sk-fading-circle" style="display: none;">
                        <div class="sk-circle1 sk-circle"></div>
                        <div class="sk-circle2 sk-circle"></div>
                        <div class="sk-circle3 sk-circle"></div>
                        <div class="sk-circle4 sk-circle"></div>
                        <div class="sk-circle5 sk-circle"></div>
                        <div class="sk-circle6 sk-circle"></div>
                        <div class="sk-circle7 sk-circle"></div>
                        <div class="sk-circle8 sk-circle"></div>
                        <div class="sk-circle9 sk-circle"></div>
                        <div class="sk-circle10 sk-circle"></div>
                        <div class="sk-circle11 sk-circle"></div>
                        <div class="sk-circle12 sk-circle"></div>
                    </div>
                    <table id="sellingTable" class="table table-bordered table-responsive">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ID</th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Giá (VNĐ)</th>
                                <th scope="col">Loại hàng</th>
                                <th scope="col">Thời gian</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!--/.Selling History Table-->
                <!--Sole History Table-->
                <div class="tab-pane fade table-responsive" id="sole" role="tabpanel" aria-labelledby="sole-tab">
                    <table id="soldTable" class="table table-bordered table-responsive">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ID</th>
                                <th scope="col">Người Mua</th>
                                <th scope="col">Tên sản phẩm</th>
                                <th scope="col">Giá (VNĐ)</th>
                                <th scope="col">Loại MH</th>
                                <th scope="col">Thời gian</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!--/.Sole History Table-->
            </div>
        </div>
    </div>
    <div class="col-md-5 table-responsive">
        <div id="loadingInner" class="sk-fading-circle" style="display: none;">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
        <table id="userInfoTable" class="table" style="display: none;">
            <thead class="thead-light">
            </thead>
            <tbody>
                <tr>
                    <td>Họ tên</td>
                    <td class="fit" id="userInfoName"></td>
                </tr>
                <tr>
                    <td>Giới tính</td>
                    <td class="fit" id="userInfoGender"></td>
                </tr>
                <tr>
                    <td>Ngày sinh</td>
                    <td class="fit" id="userInfoBirthdate"></td>
                <tr>
                    <td>Số điện thoại</td>
                    <td class="fit" id="userInfoPhone"></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td class="fit" id="userInfoEmail"></td>
                </tr>
                <tr>
                    <td>Địa chỉ</td>
                    <td class="fit" id="userInfoAddress"></td>
                </tr>
                <tr>
                    <td>Tỉnh thành</td>
                    <td class="fit" id="userInfoCity"></td>
                </tr>
                <tr>
                    <td>Ngày đăng ký</td>
                    <td class="fit" id="userInfoCreatedDate"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Review Modal-->
<div id="reviewModal" class="modal fade myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">PHẢN HỒI</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="loadingReview" class="sk-fading-circle" style="display: none;">
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                </div>
                <form class="form-horizontal" name="reviewForm" method="post">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="review_itemId" class="font-weight-bold">Id sản phẩm:</label>
                            <span id="review_itemId"></span>
                        </div>
                        <div class="form-group">
                            <label for="review_itemName" class="font-weight-bold">Tên sản phẩm:</label>
                            <span id="review_itemName"></span>
                        </div>
                        <div class="form-group">
                            <label for="review_targetName" class="font-weight-bold">Người mua:</label>
                            <span id="review_targetName"></span>
                        </div>
                        <label for="review_rating" class="font-weight-bold">Đánh giá:</label>
                        <select class="form-control" id="review_rating" name="rating">
                            @for (var i = ViewBag.ratingMin; i <= ViewBag.ratingMax; i += ViewBag.ratingStep)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="review_content" class="font-weight-bold">Nhận xét:</label>
                        <textarea class="form-control" id="review_content" name="content" placeholder="Nhận xét" style="height: 120px;"></textarea>
                        <label id="review_msg" class="error" style="text-align: center; display: none;"></label>
                    </div>
                    <button type="submit" id="reviewBtn" class="btn btn-default modalBtn">GỬI PHẢN HỒI</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        userJs = '@Html.Raw(ViewBag.gUserStr)';
        userStr = '@Html.Raw(ViewBag.userStr)';
    </script>
    @Scripts.Render("~/bundles/otherUserScripts")
}