@{
    ViewBag.Title = "Flash Buy";
}
<h1>Hello</h1>
@section Scripts{
    <script type="text/javascript">
        if ('@ViewBag.isLoggingIn') {
            isLoggingIn = ('@ViewBag.isLoggingIn'.toLowerCase() == 'true') ? true : false;
            returnUrl = '@ViewBag.returnUrl';
        }
        userJs = '@Html.Raw(ViewBag.gUserStr)';
    </script>
    @Scripts.Render("~/bundles/homeScripts")
}