@{
    ViewBag.Title = "Approve Page";
}

<h1>Kiểm duyệt sản phẩm</h1>
@section Scripts {
    <script type="text/javascript">
        userJs = '@Html.Raw(ViewBag.gUserStr)';
    </script>
    @Scripts.Render("~/bundles/approveScripts")
}


<table id="approve-stat" class="table">
    <tr>
        <td>Sản phẩm đang chờ: </td>
        <td>@ViewBag.waiting</td>
        <td>Sản phẩm đã hoàn thành: </td>
        <td>@ViewBag.complete</td>
    </tr>

    <tr>
        <td>Sản phẩm đã duyệt: </td>
        <td>@ViewBag.accepted</td>
        <td>Sản phẩm đã từ chối: </td>
        <td>@ViewBag.rejected</td>
    </tr>
</table>

<p>
    <button id="approve_select_all" class="approve_bt">Chọn tất cả</button>
    <button id="approve_unselect_all" class="approve_bt">Hủy chọn tất cả</button>
    <button id="approve_ok" class="approve_bt">Đồng ý</button>
    <button id="approve_reject" class="approve_bt">Từ chối</button>
</p>

<table id="approve-table" class="table">
    <thead>
        <tr>
            <th style="width: 2%;">Chọn </th>
            <th style="width: 5%;">ID</th>
            <th style="width: 7%;">Người bán</th>
            <th style="width: 13%;">Tên SP</th>
            <th style="width: 12%;">Ảnh</th>
            <th style="width: 10%;">Giá(VNĐ)</th>
            <th style="width: 15%;">Loại mặt hàng</th>
            <th style="width: 7%;">Thời gian</th>
            <th style="width: 25%;">Mô tả</th>
            <th style="width: 4%;">Thương lượng</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>