<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/Images/favicon_logo.png">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" type="text/css" />
    @Styles.Render("~/Content/themesCss")
</head>
<body>
    <nav class="my-navbar fixed-top">
        <div class="container">
            <div class="row">
                <div class="navbar-header col-md-2">
                    <div class="logo-wrapper">
                        <a href="/"><img class="logo img-responsive" src="~/Images/transparent_logo.png" /></a>
                    </div>
                </div>
                <div class="navbar-search col-md-5">
                    <div class="input-group">
                        <input type="text" class="form-control search" name="search" placeholder="Tìm kiếm sản phẩm">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </div>
                <div class="navbar-user navbar-collapse col-md-5">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a id="loginLink" data-toggle="modal" data-target="#loginModal" class="nav-link"><i class="fas fa-sign-in-alt"></i><span>Đăng nhập</span></a></li>
                        <li class="nav-item"><a id="registerLink" data-toggle="modal" data-target="#registerModal" class="nav-link"><i class="fab fa-accusoft"></i><span>Đăng ký</span></a></li>
                        <li class="nav-item dropdown show">
                            <a id="profileDropdown" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: none">
                                <i class="fas fa-user-cog"></i><span></span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="profileLink ">
                                <a id="profileLink" href="/User" class="dropdown-item">Hồ sơ <i class="fas fa-user-circle"></i></a>
                                <a id="approveLink" class="dropdown-item">Kiểm duyệt <i class="fas fa-clipboard-check"></i></a>
                                <a id="logoutLink" class="dropdown-item">Đăng xuất <i class="fas fa-sign-out-alt"></i></a>
                            </div>
                        </li>
                        <li class="nav-item"><a id="sellLink" href="/PostItem" class="nav-link" style="display: none"><i class="fas fa-coins"></i><span>Đăng bán</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 form-group">
                    <select class="form-control">
                        <option>Chọn loại hàng</option>
                    </select>
                </div>
                <div class="col-md-10">
                    <div class="navbar-hashtag">
                        <div><i class="glyphicon glyphicon-stats"></i></div>
                        <div><a href="#">#iphone</a></div>
                        <div><a href="#">#u23</a></div>
                        <div><a href="#">#honda</a></div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--Login Modal-->
    <div id="loginModal" class="modal fade myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">ĐĂNG NHẬP</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="loginForm" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" id="login_username" name="username" placeholder="Tài khoản">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="login_password" name="password" placeholder="Mật khẩu">
                            <label id="login_error" class="error" style="text-align: center; display: none;">Tên đăng nhập hoặc mật khẩu không đúng !!!</label>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label><input type="checkbox" name="keepIn">Duy trì đăng nhập</label>
                            </div>
                        </div>
                        <button type="submit" id="loginBtn" class="btn btn-default modalBtn">ĐĂNG NHẬP</button>
                        <div class="form-group">
                            <a id="registerInLogin" href="#" data-toggle="modal" data-target="#registerModal">Đăng ký ngay</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Register Modal-->
    <div id="registerModal" class="modal fade myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">ĐĂNG KÝ</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" name="registerForm" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" id="register_username" name="username" placeholder="Tài khoản">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="register_password" name="password" placeholder="Mật khẩu">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="register_re-password" name="re-password" placeholder="Xác nhận mật khẩu">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="register_email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" id="register_phone" name="phone" placeholder="Số điện thoai">
                            <label id="register_msg" class="error" style="text-align: center; display: none;"></label>
                        </div>
                        <button type="submit" id="registerBtn" class="btn btn-default modalBtn">ĐĂNG KÝ</button>
                        <div class="form-group">
                            <a id="loginInRegister" href="#" data-toggle="modal" data-target="#loginModal">Đăng nhập</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <!-- Start BreadCrumb-->
        <nav aria-label="breadcrumb" id="breadcrumb">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item"><a href="#">Frontend</a></li>
                <li class="breadcrumb-item active" aria-current="page">Bootstrap</li>
            </ul>
        </nav>
        <!-- End BreadCrumb-->
        @RenderBody()
    </div>
    <hr />
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>About us</h3>
                    <ul>
                        <li>Nhóm 3</li>
                        <li>Nhập môn công nghệ phần mềm</li>
                        <li>CQ2017/33</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Đây là gì ???</h3>
                    <ul>
                        <li>Đồ án Website mua bán đồ cũ</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3>Facebook</h3>
                    <ul></ul>
                </div>
                <div class="col-md-3">
                    <div class="logo-wrapper">
                        <a href="/"></a><img class="logo img-responsive" src="~/Images/transparent_logo.png" /></a>
                    </div>
                </div>
            </div>
        </div>
        <hr style="border: 1px solid #AAAAAA;" />
        <p class="copy-right text-center">&copy; @DateTime.Now.Year Nhóm 3 Nhập môn Công nghệ phần mềm CQ2017/33 </p>

    </footer>
    <div id="loadingSpinner" class="spinner" style="display: none;">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/library")
    @Scripts.Render("~/bundles/constants")
    @Scripts.Render("~/bundles/serviceScripts")
    @Scripts.Render("~/bundles/themesJs")
    <script type="text/javascript">
        //Global variables
        let gUser = {};
        let isLoggingIn, returnUrl, userJs, gCategory, gCity, gParam;
        const Alert = new SweetAlert();
        const Hide = new HideInfo();
        const seperator = ", ";
    </script>
    @Scripts.Render("~/bundles/sharedScripts")
    @RenderSection("scripts", required: false)
</body>
</html>
